.textMark {
  width: 75%;
  height: 30vw;
  border: 1px solid transparent;
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 8px;
  box-shadow: 2px 5px 5px black;
  font-size: 20px;
}

.textHtml {
  width: 75%;
  height: 30vw;
  border: 1px solid transparent;
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 8px;
  box-shadow: 2px 5px 5px black;
  font-size: 20px;
  margin-bottom: 5%;
}

.convert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.convert label {
  font-size: 35px;
  color: white;
  text-shadow: 2px 3px 0px black;
  margin-bottom: 2%;
  margin-top: 2%;
}

.buttonCount {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 24px;
  align-items: center;
}

.buttonCount button {
  height: 3vw;
}

.divButton {
  display: flex;
  justify-content: left;
  margin-left: 30%;
  width: 100%;
}

.divButton button {
  margin: 4px;
  height: 8%;
  width: 6%;
}

.link {
  float: right;
  width: 20%;
  padding-top: 3px;
}

.href {
  color: black;
  font-size: 20px;
}