.App {
  text-align: center;
  background: linear-gradient(110deg, #95afc0, #dff9fb);
  background-image: url(https://cdn.pixabay.com/photo/2016/01/09/18/28/old-1130743_960_720.jpg);
  background-size: cover;
}
